---
---
@import "jekyll-theme-minimal";

/* Linke Spalte (Sidebar) schmaler */
aside {
  width: 220px;        /* z. B. sehr schmal */
}

/* Rechte Spalte (Content) breiter */
section {
  margin-left: 240px;  /* muss > aside width sein */
  width: auto;
}
