---
---
@import "{{ site.theme }}";

/* Nur für Desktop-Ansichten anpassen */
@media screen and (min-width: 640px) {

  /* Wir machen den Gesamtcontainer breiter, damit rechts Platz zum Wandern ist */
  .wrapper {
    max-width: 1150px; 
    margin: 0 auto;
  }

  /* Header bleibt an seiner Standardposition */
  header {
    width: 270px;
    float: left;
    position: fixed;
  }

  /* Die rechte Spalte wird nach rechts geschoben */
  section {
    width: 750px;      /* Breite des Inhalts */
    float: right;
    
    /* Der entscheidende Abstand: 
       60ch entspricht ca. 60 Zeichenbreiten */
    padding-left: 60ch; 
    
    /* Sicherstellen, dass die Breite inklusive Padding berechnet wird */
    box-sizing: content-box; 
  }
}

/* Mobile Ansicht unberührt lassen */
@media screen and (max-width: 639px) {
  header, section {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}
