---
---
@import "{{ site.theme }}";

@media screen and (min-width: 640px) {
  
  .wrapper {
    max-width: 1100px; /* Insgesamt mehr Platz */
    margin: 0 auto;
    padding-left: 20px; /* Verringert den äußeren Rand links */
  }

  header {
    width: 180px;      /* Noch etwas schmaler */
    float: left;
    position: fixed;
    /* Schiebt den Header im Vergleich zum Standard weiter nach links */
    margin-left: -30px; 
  }

  section {
    /* Die Breite berechnet sich aus Wrapper-Breite minus Header */
    width: 850px;      
    float: right;
    /* Sorgt dafür, dass der Text nicht unter den Header rutscht */
    margin-left: 210px; 
    padding-left: 0;
  }
}

/* Cleanup für die mobile Ansicht */
@media screen and (max-width: 639px) {
  header, section {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
